.icon-size {
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    margin-left: 2px;
    margin-right: 5px;
    width: 18px;
}

.el-icon-my-advise {
    /* 图片路径 */
    background: url('~./images/icon-advise.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-advise:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-archives {
    /* 图片路径 */
    background: url('~./images/icon-archives.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-archives:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-ban {
    /* 图片路径 */
    background: url('~./images/icon-ban.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-ban:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-blog {
    /* 图片路径 */
    background: url('~./images/icon-blog.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-blog:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-calendar {
    /* 图片路径 */
    background: url('~./images/icon-calendar.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-calendar:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-chart {
    /* 图片路径 */
    background: url('~./images/icon-chart.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-chart:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-delete {
    /* 图片路径 */
    background: url('~./images/icon-delete.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-delete:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-download {
    /* 图片路径 */
    background: url('~./images/icon-download.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-download:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-email {
    /* 图片路径 */
    background: url('~./images/icon-email.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-email:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-fail {
    /* 图片路径 */
    background: url('~./images/icon-fail.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-fail:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-file {
    /* 图片路径 */
    background: url('~./images/icon-file.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-file:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-help {
    /* 图片路径 */
    background: url('~./images/icon-help.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-help:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-house {
    /* 图片路径 */
    background: url('~./images/icon-house.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-house:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-home {
    /* 图片路径 */
    background: url('~./images/icon-home.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-home:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-like {
    /* 图片路径 */
    background: url('~./images/icon-like.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-like:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-lock {
    /* 图片路径 */
    background: url('~./images/icon-lock.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-lock:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-menu {
    /* 图片路径 */
    background: url('~./images/icon-menu.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-menu:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-new {
    /* 图片路径 */
    background: url('~./images/icon-new.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-new:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-notice {
    /* 图片路径 */
    background: url('~./images/icon-notice.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-notice:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-official {
    /* 图片路径 */
    background: url('~./images/icon-official.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-official:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-phone {
    /* 图片路径 */
    background: url('~./images/icon-phone.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-phone:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-position {
    /* 图片路径 */
    background: url('~./images/icon-position.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-position:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-publish {
    /* 图片路径 */
    background: url('~./images/icon-publish.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-publish:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-save {
    /* 图片路径 */
    background: url('~./images/icon-save.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-save:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-setting {
    /* 图片路径 */
    background: url('~./images/icon-setting.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-setting:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-success {
    /* 图片路径 */
    background: url('~./images/icon-success.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-success:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-time {
    /* 图片路径 */
    background: url('~./images/icon-time.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-time:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-tips {
    /* 图片路径 */
    background: url('~./images/icon-tips.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-tips:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-upload {
    /* 图片路径 */
    background: url('~./images/icon-upload.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-upload:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-user {
    /* 图片路径 */
    background: url('~./images/icon-user.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-user:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-users {
    /* 图片路径 */
    background: url('~./images/icon-users.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-users:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-wallet {
    /* 图片路径 */
    background: url('~./images/icon-wallet.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-my-wallet:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-home {
    /* 图片路径 */
    background: url('~./images/icon-front-home.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-home:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-more {
    /* 图片路径 */
    background: url('~./images/icon-front-more.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-more:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-lamp {
    /* 图片路径 */
    background: url('~./images/lamp.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-lamp:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-data {
    /* 图片路径 */
    background: url('~./images/icon-front-data.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-data:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-blog {
    /* 图片路径 */
    background: url('~./images/icon-front-blog.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-blog:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-home-focus {
    /* 图片路径 */
    background: url('~./images/icon-front-home-focus.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-home-focus:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-data-focus {
    /* 图片路径 */
    background: url('~./images/icon-front-data-focus.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-data-focus:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-blog-focus {
    /* 图片路径 */
    background: url('~./images/icon-front-blog-focus.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-blog-focus:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-more-focus {
    /* 图片路径 */
    background: url('~./images/icon-front-more-focus.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-more-focus:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-envelope-close {
    /* 图片路径 */
    background: url('~./images/icon-front-envelope-close.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-envelope-close:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-envelope-open {
    /* 图片路径 */
    background: url('~./images/icon-front-envelope-open.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-envelope-open:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-turn-on {
    /* 图片路径 */
    background: url('~./images/icon-turn-on.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-turn-on:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-sun {
    /* 图片路径 */
    background: url('~./images/icon-front-sun.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-sun:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-front-yun {
    /* 图片路径 */
    background: url('~./images/icon-front-yun.png') center no-repeat;
    background-size: cover;
    font-size: 10px;
}

.el-icon-front-yun:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
}
